body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(135deg, #ff0101, #0054e4);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.mapa {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
}

.setor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0df333;
    border-radius: 46px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.setor:hover {
    transform: scale(1.05);
    background-color: #010707;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.info-panel {
    margin-top: 20px;
    padding: 15px;
    background: rgba(114, 70, 70, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#infoTitle {
    margin: 0;
    font-size: 22px;
    color: #ecbe04;
}

#infoDescription {
    margin-top: 5px;
    color: #fff5f5;
}
